@import"../utils/variables";

body{
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width:1000px){
        position: relative;
        max-width: 1800px;
        margin-left:auto;
        margin-right:auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.pagesDeMenus{
    background-color: $color-bgresto;

}
#desktop{
    @media (min-width:1000px){
        background-color: $color-bgresto;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding:0;
        }
}
.plats_desktop{
    @media (min-width:1000px){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
}
#menu_photo{
    img{
    height: 45em;
    width: 100%;
    object-fit: cover;
    @media (min-width:1000px){
        height: 100%;
        width: 30em;
        border-radius: 0 50px 50px 0;
        }
    }
}
#menu{
    border-radius: 90px;
    background-color: $color-bgresto;
    padding-top: 2em;
    position: relative;
    top:-10em;
    display: flex;
    flex-direction: column;
    align-content: center;
    @media (min-width:1000px){
        top:0;
        border-radius: 0;
        justify-items: flex-start;
        padding-left:20px;
        padding-right:20px;
        padding-bottom:0;
        width: 100%;
        height: 100%;
        min-height: 480px;
        margin: 0;
        }
    #nom_menu{
        display: flex;
        h1{
            padding-left: 0.5em;
            font-family: Shrikhand;
            font-size: 4.5em;
            @media (min-width:1000px){
                font-size: 30px;
                margin: 0;
                }
        }
        .menu_coeur{
            align-self: center;
            font-size: 4em;
            margin-left: 1.5em;
            position: relative;
            display: flex;
            @media (min-width:1000px){
                font-size: 30px;
                }
            .far{
                position:absolute;
                left: 0;
                @media (min-width:1000px){
                    font-size: 30px;
                    }
            }
        }
    }
}



.les_plats{
    padding-left: 3em;
    padding-right: 3em;
    h2{
        @media (min-width:1000px){
        margin-bottom: 30px;
        }
    }
    .souligne{
        text-decoration: underline $color-tertiary solid;
        text-decoration-thickness: 8px;
        text-underline-offset: 1rem;
    }
    @media (min-width:1000px){
        font-size: 30px;
        padding:0;
        height: fit-content;
        margin-top: 10px;
        }
}

.plat{
    display: flex;
    border-radius: 40px;
    box-shadow: 10px 10px 10px #cccccc ;
    background-color: white;
    height: 11em;
    margin-bottom: 2em;
    width: 100%;
    overflow: hidden;
    @media (min-width:1000px){
        padding: 0;
        margin: 0;
        margin-top: 20px;
        height: 60px;
        border-radius: 20px;
        }
    .plat_description{
        padding-left: 1em;
        width: 100%;
        position: relative;
        h3{
            position: absolute;
            top:-0.5em;
            height: 1.5em;
            width: 95%;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            overflow: hidden;
            @media (min-width:1000px){
                position: absolute;
                left: 1em;
                top:0;
                font-size: 20px;
                padding-top: 0.5em;
                margin: 0;
                }
        }
        p{
            position: absolute;
            top: 1.5em;
            height: 2em;
            width: 95%;
            font-size: 2.4em;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            overflow: hidden;
            @media (min-width:1000px){
                font-size: 15px;
                margin: 0;
                padding-top: 1em;
                }
        }
    }
    .plat_prix{
        height: 100%;
        width: 20%;
        font-size: 2.7em;
        text-align: center;
        padding-top: 1.5em;
        color: black;
        @media (min-width:1000px){
            font-size: 15px;
            margin: 0;
            }
     }
    .validation{
        width: 0;
    }
}
#bouton{
    align-self: center;
}
#commander{
    margin-top: 2.5em;
    padding-left: 3em;
    padding-right: 3em;
    @media (min-width:1000px){
        margin-top: 2em;
        margin-bottom: 2em;
        padding-left:1em;
        padding-right:1em;
    }
}
